.tabla_clientes{
	width: 100%;
	border-collapse: separate;
	border-top: #4ea8f7 5px solid;
	background: #d7ebfc;
	color: #131681;
	
}

.tabla_clientes tbody tr th{
	padding: 25px;
}

.boton_agregar_clientes{
	text-align: right;
}
